.course-each{
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
}
.course-each:hover{
    background: #aaaaaa;
}
.course-each>div{
    padding: 10px 0;
    font-size: 200%;
}
.course-each>label{
    display: inline-block;
}
.course-each:nth-child(2n+1){
    background: #f7f7f7;
}
.course-each:nth-child(2n){
    background: #ffffff;
}


