<main class="main">
    <section>
        <div class="container-mid" id="user-detail">
            <h1 class="heading-primary" id="course_detail_title"></h1>
            <div id="course_detail_teacher"></div>
            <div class="user-fast-info">
            </div>
        </div>
        <div class="container-mid" id="week_chart">
        </div>
        <div class="container-mid" id="catalog">
        </div>
        <div class="container-mid" id="student_list">
        </div>
    </section>
</main>