<div class="container-mid login-parent">
    <h2 class="heading-primary">登陆</h2>
    <form class="form-login js-form-validate">
        <div class="grid-parent">
            <div class="grid-child form-join-each">
                <div class="field-block">
                    <input autocomplete="off" type="text" placeholder="用户名" class="input-text input-required" id="login-username" />
                </div>
                <div class="field-block">
                    <input autocomplete="off" type="password" placeholder="密码" class="input-text input-required" id="login-password" />
                </div>
            </div>
        </div>
        <input id='login-submit' type="submit" value="提交" class="input-text input-required" id="login-username" />
    </form>
</div>