//user
.login-parent{
    padding-bottom: 30px;
    background: rgba(153,153,202,0.1);
}
.heading-primary{
    margin-top: 0px;
}
.user-info-panel{
    position: relative;
}
.heading-primary{
    text-align: left;
    padding-bottom: 10px;
}

.user-icon{
    position: relative;
    width: 120px;
    height: 120px;
    border: 2px solid #777;
    margin-right:20px;
}
.icon-user-container{
    color:#555;
    font-size: 300%;
}
.login-user-info>div{
    float:left;
    vertical-align: top;
}

.login-logout{
    float:right;
}

@media only screen and (max-width: 700px) {
    .login-logout{
        margin-top:20px;
        clear:left;
        float:left;
        display: block;
    }
}

//form

.user-panel{
    margin:0 0 0 20px;
    width: 65%;
    height: 128px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.form-login{
    max-width: 400px;
}

#login-p1>form{
    position: relative;
    width: 60%;
    left:20%;
}