.login-parent{
    padding-bottom: 30px;
    background: #f0faf9;
}
.heading-primary{
    margin-top: 0px;
}
.user-info-panel{
    position: relative;
}
.heading-primary{
    text-align: left;
    padding-bottom: 10px;
}
.user-icon{
    position: relative;
    display: inline-block;
    width: 25%;
    height: 130px;
    left:0;
    top:0;
}

.user-panel{
    margin:0 0 0 20px;
    width: 65%;
    height: 128px;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

#user-logout{
    position: absolute;
    bottom:0;
    right:0;
}

#login-p1>form{
    position: relative;
    width: 60%;
    left:20%;
}