<footer class="footer">
    <div class="container-full">
        <div class="grid-parent">
            <div class="footer-social-block grid-child">
                <img src="http://placehold.it/30x30" alt="" class="footer-social-each"/>
                <img src="http://placehold.it/30x30" alt="" class="footer-social-each"/>
                <img src="http://placehold.it/30x30" alt="" class="footer-social-each"/>
                <img src="http://placehold.it/30x30" alt="" class="footer-social-each"/>
                <img src="http://placehold.it/30x30" alt="" class="footer-social-each"/>
            </div>
            <div class="footer-copyright-block grid-child">
                <div>Copyright 2016, ICCNU, Inc. All right researved. </div>
            </div>
        </div>
    </div>
</footer>