.student-each{
    display: inline-block;
    width: 25%;
    position: relative;
    height:48px;
}

.student-each:nth-child(2n+1){
    background: #f0f0f0;
}

.student-each:nth-child(2n){
    background: #f7f7f7;
}

.student-icon{
    margin-left:-15px;
    width:48px;
    height:48px;
    left:0;
    top:0;
    position: relative;
    color:#777;
    background: #aaa;
}

.student-info{
    position: absolute;
    left:52px;
    top:2px;
    height:48px;
    width: 100%;
}

.student-name{
    font-size: 90%;
    position: absolute;
}

.student-id{
    font-size: 70%;
    position: absolute;
    left:2px;
    bottom:2px;
}

.student-class-total{
    font-size: 70%;
    position: absolute;
    right:52px;
    top:2px;
}

.student-class-code{
    font-size: 70%;
    position: absolute;
    right:52px;
    bottom:2px;
}

@media only screen and (max-width: 700px) {
    .student-each{
        width: 50%;
    }
}